Repository spezifisch/rueder: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, frontend-husky

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.2.0
      hooks:
          - id: trailing-whitespace
          - id: check-added-large-files
          - id: check-yaml
            exclude: ^backend/config/database.yml
          - id: end-of-file-fixer
          - id: check-merge-conflict
    # backend/frontend
    - repo: https://github.com/markdownlint/markdownlint
      rev: e31711c0db57df9b350fbaeaae6de745972f3e66
      hooks:
          - id: markdownlint_docker
            args: ["-r", "~MD029"]
    - repo: https://github.com/hadolint/hadolint
      rev: v2.10.0
      hooks:
          - id: hadolint-docker
            args: ["--ignore=DL3008"]
    # backend
    - repo: local
      hooks:
          - id: golangci-lint
            # golangci-lint needs to be installed: https://golangci-lint.run/usage/install/
            name: golangci-lint
            language: system
            # check only unstaged changes or untracked files
            entry: bash -c 'cd backend && exec golangci-lint run --fix --new'
            pass_filenames: false
            types: [go]
            files: ^backend/
    # frontend
    - repo: local
      hooks:
          - id: frontend-husky
            # frontend dev dependencies need to be installed, see README.md
            name: frontend-husky
            language: system
            entry: bash -c 'cd frontend && exec .husky/pre-commit'
            files: ^frontend/

dependabot settings, OS gitignore
  .github/dependabot.yml
  .gitignore
Due: none

more ignores
  .gitignore
Due: none

frontend updates #1
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

frontend updates #2
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

backend updates
  README.md
  backend/Makefile
  backend/go.mod
  backend/go.sum
Due: none

dev container build fix, api cmd cleanup
  README.md
  backend/cmd/api/main.go
  backend/docker/dev/Dockerfile
Due: golangci-lint

cmd overhaul to declutter dev container output
  README.md
  backend/cmd/api/main.go
  backend/cmd/authbackend/main.go
  backend/cmd/events/main.go
  backend/cmd/feedfinder/main.go
  backend/cmd/worker/main.go
  backend/pkg/events/http/server.go
Due: golangci-lint

imgproxy update
  docker-compose.imgproxy.yaml
  frontend/docker-compose.yaml
Due: frontend-husky

add golang recomm.
  .vscode/extensions.json
Due: none

migrate authbackend from gin to fiber
  backend/Makefile
  backend/pkg/authbackend/controller/route.go
  backend/pkg/authbackend/http/interface.go
  backend/pkg/authbackend/http/server.go
  backend/pkg/events/controller/route.go
  backend/pkg/events/http/server.go
Due: golangci-lint

migrate feedfinder to fiber
  backend/pkg/events/http/server.go
  backend/pkg/feedfinder/controller/route.go
  backend/pkg/feedfinder/http/api.go
  backend/pkg/feedfinder/http/server.go
Due: golangci-lint

migrate api/events/feedfinder to fiber
  backend/pkg/api/controller/route.go
  backend/pkg/api/http/api-v1.go
  backend/pkg/api/http/server.go
  backend/pkg/events/controller/route.go
  backend/pkg/feedfinder/http/api.go
Due: golangci-lint

remove dependencies on gin
  backend/go.mod
  backend/go.sum
  backend/internal/auth/auth-fiber.go
  backend/internal/auth/auth-gin.go
  backend/internal/common/gin.go
  backend/pkg/helpers/auth.go
  backend/pkg/httputil/error.go
Due: golangci-lint

use fiberisms where possible
  backend/pkg/authbackend/controller/route.go
  backend/pkg/feedfinder/controller/route.go
Due: golangci-lint

clean up/refactor http route code
  backend/cmd/api/main.go
  backend/cmd/feedfinder/main.go
  backend/pkg/api/controller/interface.go
  backend/pkg/api/controller/route.go
  backend/pkg/api/http/api-reader-v1.go
  backend/pkg/api/http/server.go
  backend/pkg/authbackend/http/api-authbackend.go
  backend/pkg/authbackend/http/server.go
  backend/pkg/events/controller/route.go
  backend/pkg/events/http/api-events-v1.go
  backend/pkg/events/http/server.go
  backend/pkg/feedfinder/controller/route.go
  backend/pkg/feedfinder/http/api-feedfinder-v1.go
  backend/pkg/feedfinder/http/server.go
  backend/pkg/fibertools/app-base.go
  backend/pkg/fibertools/auth-claims.go
  backend/pkg/fibertools/auth-middleware.go
  backend/pkg/helpers/types.go
Due: golangci-lint

revert name change for now
  backend/pkg/api/http/api-reader-v1.go
Due: golangci-lint

dev-backend podman fixes
  backend/Makefile
  backend/docker-compose.yaml
  backend/docker/dev/Dockerfile
Due: none
