Repository spezifisch/rueder: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, frontend-husky

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd backend && exec golangci-lint run --fix --new'
  pass_filenames: false

frontend-husky:
  name: frontend-husky
  language: system
  entry: bash -c 'cd frontend && exec .husky/pre-commit'

fix snyk action
  .github/workflows/snyk.yml
Due: none

remove snyk pnpm thing again
  .github/workflows/snyk.yml
Due: none

implement first parts of user_events consumer with rabbitmq, remove redis
  backend/Makefile
  backend/cmd/events/main.go
  backend/docker-compose.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/events/controller/interface.go
  backend/pkg/events/controller/models.go
  backend/pkg/events/controller/route.go
  backend/pkg/repository/rabbitmq/event_consumer.go
  backend/pkg/repository/rabbitmq/event_publisher.go
  backend/pkg/repository/redis/redis.go
Due: golangci-lint

implement basic rabbitmq user events from backend api to events SSE
  backend/cmd/api/main.go
  backend/pkg/api/controller/controller.go
  backend/pkg/api/controller/interface.go
  backend/pkg/api/controller/models_events.go
  backend/pkg/api/controller/route.go
  backend/pkg/events/controller/controller.go
  backend/pkg/events/controller/interface.go
  backend/pkg/events/controller/models.go
  backend/pkg/repository/pop/api/api_user.go
  backend/pkg/repository/pop/models/userfeeds.go
  backend/pkg/repository/rabbitmq/connection.go
  backend/pkg/repository/rabbitmq/event_consumer.go
  backend/pkg/repository/rabbitmq/event_publisher.go
Due: golangci-lint

fix backend test
  backend/pkg/repository/pop/api/testdata/api_user_test.copyist
Due: none

fix svelte css path issues
  frontend/postcss.config.cjs
  frontend/postcss.config.js
  frontend/svelte.config.mjs
Due: frontend-husky

begin global sse store, add prettierrc, reformat edited files
  backend/internal/common/models.go
  backend/pkg/api/controller/interface.go
  backend/pkg/api/controller/models_events.go
  backend/pkg/api/controller/route.go
  backend/pkg/events/controller/models.go
  backend/pkg/events/controller/route.go
  backend/pkg/repository/rabbitmq/event_consumer.go
  backend/pkg/repository/rabbitmq/event_publisher.go
  frontend/.editorconfig
  frontend/.prettierrc.yaml
  frontend/src/rueder/App.svelte
  frontend/src/rueder/Main.svelte
  frontend/src/rueder/components/Sidebar/Debug/DebugSSE.svelte
  frontend/src/rueder/components/Sidebar/SidebarNavigation.svelte
  frontend/src/rueder/stores/SSE.ts
Due: golangci-lint, frontend-husky

add rudimentary folder reload via sse
  frontend/src/rueder/Main.svelte
  frontend/src/rueder/components/Sidebar/Debug/DebugSSE.svelte
  frontend/src/rueder/components/Sidebar/FeedFolders.svelte
  frontend/src/rueder/helpers/constants.ts
Due: frontend-husky

update deps, some SSE cleanup
  backend/go.mod
  backend/go.sum
  backend/internal/common/sse_types.go
  backend/migrations/20220912233800_create_user_states.down.fizz
  backend/migrations/20220912233800_create_user_states.up.fizz
  backend/pkg/api/controller/route.go
  backend/pkg/repository/pop/models/user_state.go
  frontend/.eslintrc.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/rueder/api/feed.ts
  frontend/src/rueder/api/feed_change.ts
  frontend/src/rueder/api/sse.ts
  frontend/src/rueder/api/syncedstore.ts
  frontend/src/rueder/api/types_internal.ts
  frontend/src/rueder/components/ArticleListItem.test.ts
  frontend/src/rueder/components/Sidebar/Debug/DebugSSE.svelte
  frontend/src/rueder/components/Sidebar/FeedFolders.svelte
  frontend/src/rueder/helpers/ImageProxy.ts
  frontend/src/rueder/helpers/time.ts
  frontend/src/rueder/helpers/url.ts
  frontend/src/rueder/stores/SSE.ts
  frontend/src/rueder/stores/SyncedStore.ts
  frontend/src/rueder/stores/labels.ts
Due: golangci-lint, frontend-husky

update deps
  .github/workflows/backend-lint.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: frontend-husky

readme update
  README.md
Due: none

fix auto-install-peers issue
  frontend/.npmrc
  frontend/pnpm-lock.yaml
Due: frontend-husky

bump go/golangci-lint versions
  .github/workflows/backend-lint.yml
Due: none

bump backend dev docker containers versions
  backend/docker/api/Dockerfile.dev
  backend/docker/authbackend/Dockerfile.dev
  backend/docker/events/Dockerfile.dev
  backend/docker/feedfinder/Dockerfile.dev
  backend/docker/worker/Dockerfile.dev
Due: none

shut up rmq
  README.md
  backend/config/rabbitmq-logging-dev.conf
  backend/docker-compose.yaml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

add gitleaks
  .pre-commit-config.yaml
Due: none

add gitleaks action
  .github/workflows/gitleaks.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

downgrade svelte-jester
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

round of minor updates
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

major updates
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend-husky

use s6 mono container for dev
  backend/docker/api/Dockerfile.dev
  backend/docker/authbackend/Dockerfile.dev
  backend/docker/dev/Dockerfile
  backend/docker/dev/s6-rc.d/api/run
  backend/docker/dev/s6-rc.d/api/type
  backend/docker/dev/s6-rc.d/authbackend/run
  backend/docker/dev/s6-rc.d/authbackend/type
  backend/docker/dev/s6-rc.d/events/run
  backend/docker/dev/s6-rc.d/events/type
  backend/docker/dev/s6-rc.d/feedfinder/run
  backend/docker/dev/s6-rc.d/feedfinder/type
  backend/docker/dev/s6-rc.d/user/contents.d/api
  backend/docker/dev/s6-rc.d/user/contents.d/authbackend
  backend/docker/dev/s6-rc.d/user/contents.d/events
  backend/docker/dev/s6-rc.d/user/contents.d/feedfinder
  backend/docker/dev/s6-rc.d/user/contents.d/worker
  backend/docker/dev/s6-rc.d/worker/run
  backend/docker/dev/s6-rc.d/worker/type
  backend/docker/feedfinder/Dockerfile.dev
  backend/docker/worker/Dockerfile.dev
Due: none

fix wd
  backend/docker-compose.yaml
  backend/docker/dev/Dockerfile
  backend/docker/dev/s6-rc.d/api/run
  backend/docker/dev/s6-rc.d/authbackend/run
  backend/docker/dev/s6-rc.d/events/run
  backend/docker/dev/s6-rc.d/feedfinder/run
  backend/docker/dev/s6-rc.d/worker/run
Due: none

stash
  backend/docker-compose.yaml
  backend/docker/dev/Dockerfile
  backend/docker/dev/s6-rc.d/api/run
Due: none

[dev] s6 dependency stuff works
  backend/cmd/api/main.go
  backend/cmd/worker/main.go
  backend/docker-compose.yaml
  backend/docker/dev/Dockerfile
  backend/docker/dev/s6-rc.d/api/contents.d/api
  backend/docker/dev/s6-rc.d/api/notification-fd
  backend/docker/dev/s6-rc.d/authbackend/dependencies.d/api
  backend/docker/dev/s6-rc.d/events/dependencies.d/api
  backend/docker/dev/s6-rc.d/feedfinder/dependencies.d/api
  backend/docker/dev/s6-rc.d/worker/dependencies.d/api
Due: golangci-lint

add --bind params
  backend/cmd/events/main.go
  backend/cmd/feedfinder/main.go
  backend/docker-compose.yaml
  backend/docker/dev/s6-rc.d/events/run
  backend/docker/dev/s6-rc.d/feedfinder/run
  backend/pkg/events/http/server.go
  backend/pkg/feedfinder/http/server.go
Due: golangci-lint

add bind param to authbackend
  backend/cmd/authbackend/main.go
  backend/docker/dev/s6-rc.d/authbackend/run
  backend/pkg/authbackend/http/server.go
  backend/rueder-dev.env
Due: golangci-lint

delay rmq startup
  backend/docker-compose.yaml
Due: none

fix "somewhat opaque type error"
  frontend/src/test/TestContext.svelte
Due: frontend-husky

fix typing, we're not at svelte4 yet
  frontend/src/test/TestContext.svelte
Due: frontend-husky

a11y: make a few things buttons
  frontend/src/rueder/Login.svelte
  frontend/src/rueder/Main.svelte
  frontend/src/rueder/components/Sidebar/SidebarNavigation.svelte
Due: frontend-husky

add node 20 to actions
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
Due: none

actions: update deprecated
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
Due: none

pnpm update
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

Revert "Bump @testing-library/svelte from 3.2.2 to 4.0.3 in /frontend"
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

bump node types version
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-husky

bump node in docker container
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: frontend-husky

more a11y
  frontend/src/rueder/components/Label/CustomMultiSelection.svelte
  frontend/src/rueder/components/Sidebar/LabelList.svelte
Due: frontend-husky

[broken] begin frontend dev docker update
  README.md
  frontend/.npmrc
  frontend/Dockerfile.dev
  frontend/Makefile
  frontend/pnpm-lock.yaml
Due: frontend-husky

Path conditions:
  golangci-lint: any of: ^backend/ and \.go$
  frontend-husky: any of: ^frontend/
