Repository spezifisch/rueder: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, frontend-husky

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd backend && exec golangci-lint run --fix --new'
  pass_filenames: false

frontend-husky:
  name: frontend-husky
  language: system
  entry: bash -c 'cd frontend && exec .husky/pre-commit'

Create go-test.yml
  .github/workflows/go-test.yml
Due: none

Create golangci-lint.yml
  .github/workflows/golangci-lint.yml
Due: none

Create frontend-lint.yml
  .github/workflows/frontend-lint.yml
Due: none

Create frontend-test.yml
  .github/workflows/frontend-test.yml
Due: none

cleanup workflows
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
  .github/workflows/go-test.yml
  .github/workflows/golangci-lint.yml
Due: none

workflow fixes, some temporary test fixes
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
  .github/workflows/go-test.yml
  .github/workflows/golangci-lint.yml
  backend/pkg/helpers/auth.go
  backend/pkg/repository/pop/api.go
  backend/pkg/repository/pop/api_test.go
  backend/pkg/repository/pop/models/article_test.go
  backend/pkg/repository/pop/models/feed_test.go
  backend/pkg/repository/pop/models/label_test.go
  backend/pkg/repository/pop/models/user_test.go
Due: golangci-lint

use copyist for db tests, makefile for ci, upgrade deps, major upgrade of pop v4->v6
  .github/workflows/backend.yml
  .github/workflows/golangci-lint.yml
  .gitignore
  backend/.gitignore
  backend/Makefile
  backend/config/database.yml
  backend/docker/api/Dockerfile.dev
  backend/docker/authbackend/Dockerfile
  backend/docker/authbackend/Dockerfile.dev
  backend/docker/worker/Dockerfile.dev
  backend/go.mod
  backend/go.sum
  backend/migrations/schema.sql
  backend/pkg/repository/pop/api.go
  backend/pkg/repository/pop/api_test.go
  backend/pkg/repository/pop/authbackend.go
  backend/pkg/repository/pop/models/article.go
  backend/pkg/repository/pop/models/feed.go
  backend/pkg/repository/pop/models/label.go
  backend/pkg/repository/pop/models/user.go
  backend/pkg/repository/pop/models/userfeeds.go
  backend/pkg/repository/pop/scheduler.go
  backend/pkg/repository/pop/testdata/api_test.copyist
Due: golangci-lint

linter fix
  .github/workflows/backend.yml
Due: none

restore old lint workflow
  .github/workflows/backend-lint.yml
  .github/workflows/backend-test.yml
Due: none

add more tests for api repo, new test structure using TestMain
  backend/Makefile
  backend/config/database.yml
  backend/pkg/repository/pop/api.go
  backend/pkg/repository/pop/api_test.go
  backend/pkg/repository/pop/api_user.go
  backend/pkg/repository/pop/api_user_test.go
  backend/pkg/repository/pop/main_test.go
  backend/pkg/repository/pop/testdata/api_test.copyist
  backend/pkg/repository/pop/testdata/api_user_test.copyist
Due: golangci-lint

lint fix
  backend/pkg/repository/pop/main_test.go
Due: golangci-lint

move repositories into separate subdirs, remove leftover /label endpoint, regenerate swagger docs, update readme
  README.md
  backend/cmd/api/main.go
  backend/cmd/authbackend/main.go
  backend/cmd/worker/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/pkg/api/controller/interface.go
  backend/pkg/api/controller/models.go
  backend/pkg/api/controller/route.go
  backend/pkg/api/http/api-v1.go
  backend/pkg/helpers/helpers.go
  backend/pkg/helpers/helpers_test.go
  backend/pkg/repository/mock/api.go
  backend/pkg/repository/pop/api/api.go
  backend/pkg/repository/pop/api/api_test.go
  backend/pkg/repository/pop/api/api_user.go
  backend/pkg/repository/pop/api/api_user_test.go
  backend/pkg/repository/pop/api/main_test.go
  backend/pkg/repository/pop/api/testdata/api_test.copyist
  backend/pkg/repository/pop/api/testdata/api_user_test.copyist
  backend/pkg/repository/pop/authbackend/authbackend.go
  backend/pkg/repository/pop/models/label.go
  backend/pkg/repository/pop/models/label_test.go
  backend/pkg/repository/pop/scheduler/scheduler-sql.go
  backend/pkg/repository/pop/scheduler/scheduler.go
  frontend/src/rueder/api/feed.ts
Due: golangci-lint, frontend-husky

add user data overview
  .mdlrc
  .pre-commit-config.yaml
  docs/user_data.md
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

begin events service (for SSE user state sync + feed updates) with fiber instead of gin, readme additions
  .github/workflows/codeql-analysis.yml
  .vscode/launch.json
  README.md
  backend/.gitignore
  backend/cmd/events/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/auth/auth-fiber.go
  backend/internal/auth/auth-gin.go
  backend/pkg/api/http/api-v1.go
  backend/pkg/events/controller/controller.go
  backend/pkg/events/controller/interface.go
  backend/pkg/events/controller/route.go
  backend/pkg/events/http/api-v1.go
  backend/pkg/events/http/server.go
Due: golangci-lint

leftover file
  backend/internal/auth/auth.go
Due: golangci-lint

implement base setup for events api
  README.md
  backend/docker-compose.yaml
  backend/docker/api/Dockerfile
  backend/docker/events/Dockerfile
  backend/docker/events/Dockerfile.dev
  backend/docker/feedfinder/Dockerfile
  backend/docker/feedfinder/run-feedfinder-dev.sh
  backend/internal/auth/auth-fiber.go
  backend/pkg/events/http/api-v1.go
  backend/pkg/events/http/server.go
  backend/pkg/helpers/auth.go
Due: golangci-lint

backend: add sse test endpoint, frontend: add sse debug viewer, cleanup sidebar components
  backend/Makefile
  backend/pkg/events/controller/route.go
  backend/pkg/events/http/server.go
  frontend/.husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
  frontend/src/rueder/Main.svelte
  frontend/src/rueder/components/Sidebar/Debug/DebugSSE.svelte
  frontend/src/rueder/components/Sidebar/Menu/SimpleButton.svelte
  frontend/src/rueder/components/Sidebar/OPMLExport.svelte
  frontend/src/rueder/components/Sidebar/SidebarMenu.svelte
  frontend/src/rueder/components/ui/Button.svelte
  frontend/src/rueder/components/ui/FullModal.svelte
  frontend/src/rueder/components/ui/SimpleModal.svelte
  frontend/src/rueder/components/ui/heroicons/outline-chip.svelte
  frontend/src/rueder/components/ui/heroicons/outline-logout.svelte
  frontend/src/rueder/components/ui/heroicons/outline-save.svelte
  frontend/src/rueder/components/ui/heroicons/outline-user-circle.svelte
  frontend/src/rueder/stores/SSE.ts
Due: golangci-lint, frontend-husky

frontend sse cleanup, add docker registry prefixes for podman, pin some missing versions, begin redis stuff (for sse backend)
  backend/Makefile
  backend/docker-compose.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/events/controller/route.go
  backend/pkg/events/http/server.go
  backend/pkg/repository/pop/scheduler/scheduler.go
  backend/pkg/repository/redis/redis.go
  backend/pkg/worker/scheduler/scheduler.go
  docker-compose.imgproxy.yaml
  docker-compose.test.yaml
  docker-compose.yaml
  frontend/docker-compose.yaml
  frontend/src/rueder/components/Sidebar/Debug/DebugSSE.svelte
  frontend/src/rueder/stores/SSE.ts
Due: golangci-lint, frontend-husky

fix gh action timeout
  .github/workflows/backend-lint.yml
Due: none

enable race condition detection, begin redis stuff
  backend/cmd/events/main.go
  backend/docker/api/Dockerfile.dev
  backend/docker/authbackend/Dockerfile.dev
  backend/docker/events/Dockerfile.dev
  backend/docker/feedfinder/Dockerfile.dev
  backend/docker/feedfinder/run-feedfinder-dev.sh
  backend/docker/worker/Dockerfile.dev
  backend/pkg/events/controller/controller.go
  backend/pkg/events/controller/interface.go
  backend/pkg/repository/redis/redis.go
Due: golangci-lint

dep upgrades (mainly vite-svelte-plugin's first release, vite 3)
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
Due: frontend-husky

fix: frontend/Dockerfile.dev to reduce vulnerabilities
  frontend/Dockerfile.dev
Due: frontend-husky

Update backend-lint.yml
  .github/workflows/backend-lint.yml
Due: none

mention workaround hack for https://github.com/vitejs/vite/issues/9200
  frontend/vite.config.js
Due: frontend-husky

remove vite legacy plugin which was left from experimenting
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
Due: frontend-husky

delete scribbles
  backend/docs/design/worker-2021-04-07-Note-15-41.pdf
  backend/docs/design/worker-2021-04-07-Note-15-41.xoj
Due: none

Delete rueder3gopher.kra
  docs/images/rueder3gopher.kra
Due: none

migrate from npm to pnpm, update frontend, backend and docker deps, readme++, import problematic url-join
  .vscode/extensions.json
  README.md
  backend/docker-compose.yaml
  backend/docker/api/Dockerfile
  backend/docker/api/Dockerfile.dev
  backend/docker/authbackend/Dockerfile
  backend/docker/authbackend/Dockerfile.dev
  backend/docker/events/Dockerfile
  backend/docker/events/Dockerfile.dev
  backend/docker/feedfinder/Dockerfile
  backend/docker/feedfinder/Dockerfile.dev
  backend/docker/worker/Dockerfile
  backend/docker/worker/Dockerfile.dev
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/api/http/api-v1.go
  backend/pkg/authbackend/http/server.go
  backend/pkg/feedfinder/http/api.go
  frontend/.editorconfig
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  frontend/src/rueder/helpers/urljoin.ts
Due: golangci-lint, frontend-husky

use pnpm in gh actions
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
Due: none

maybe fix frontend lint/test action
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
Due: none

another try
  .github/workflows/frontend-test.yml
Due: none

guess i'm gonna read some docs
  .github/workflows/frontend-test.yml
Due: none

move working dir to pnpm commands
  .github/workflows/frontend-test.yml
Due: none

it's yaml not json
  .github/workflows/frontend-test.yml
Due: none

use correct npm ci equivalent, even though --frozen-lockfile is default
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
Due: none

forgot package.json
  frontend/package.json
Due: frontend-husky

forgot some files
  backend/pkg/events/controller/route.go
  frontend/src/rueder/components/Sidebar/Debug/DebugSSE.svelte
  frontend/src/rueder/helpers/ImageProxy.ts
  frontend/src/rueder/stores/SSE.ts
Due: golangci-lint, frontend-husky

fix linter problems, downgrade to eslint-supported typescript version
  README.md
  frontend/.husky/pre-commit
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/rueder/helpers/urljoin.ts
Due: frontend-husky

add snyk pnpm action from https://github.com/snyk-tech-services/snyk-pnpm-github-action
  .github/workflows/snyk.yml
Due: none

Path conditions:
  golangci-lint: any of: ^backend/ and \.go$
  frontend-husky: any of: ^frontend/
